 *{ 
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{

    background-image:url(img/c175e5a0abbaafc57d36e374b5cc6ae9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.header__content__link{
    color: white;
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
    align-items: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    
}

.header__content__link:hover{
    color: brown;
}

.only__link{
    border-bottom: solid;
    border-color: black;
}

.main__content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

.main__content__title{
    font-family: Poppins;
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    letter-spacing: 0em;
    text-align: left;

}

.main__content__text{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 275;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    width: 742px;

}

.footer__content{
    margin: 80px;
    display: flex;
    justify-content: center;
}

.footer__button{
  background-color: #4CAF50; 
  color: white; 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

.footer__button:hover{
    background-color: #45a049;
    color: tomato;
}
